@use "../../assets/sass/variables" as vars;

.title,
label {
  color: vars.$coral;
}

label {
  font-weight: 600;
}

.panel,
.accordion,
.title {
  background-color: vars.$gray3;
}

.accordion {
  padding: 0 1.5rem 2rem 1.5rem !important;

  .accordion-collapse {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: vars.$gray3;
  }

  .accordion-button {
    font-weight: 700;
    background-color: vars.$coral;
    color: vars.$darkPurple;
    font-size: 1.12rem;
  }

  .accordion-item {
    border: 2px solid vars.$coral;
  }
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.btn-secondary {
  background-color: vars.$gray1 !important;
  border-color: vars.$gray1 !important;
  color: black;
}

.nameLink {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: vars.$coral;
  color: vars.$darkPurple;
  font-weight: 600;
  font-size: 1.14rem;
}

.nameLink:hover {
  cursor: pointer;
  background-color: vars.$darkPurple;
  color: vars.$coral;
}

.namesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: vars.$coral;
}

@media (min-width: 992px) {
  .panel {
    height: 100vh;
  }
}
