@use "../../assets/sass/variables" as vars;

.profile {
  background-color: vars.$gray1;
  height: 100vh;
}

.person {
  background-color: vars.$rose;
  padding: 0.5rem;
}

h1 {
  color: white;
  font-weight: 600;
}

figcaption {
  font-weight: 600;
  font-size: 1.25rem;
}

.section-header {
  color: vars.$darkPurple;
  font-weight: 500;
  padding: 0.5rem 0;
  border-bottom: 0.15rem solid vars.$darkPurple;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 0.5rem solid vars.$coral;
  overflow: hidden;
  object-fit: cover;
}
