<div class="profile">
    <div *ngIf="personToShow">
        <section id="personInfo">
            <div class="d-flex align-items-center person p-4">
                <img src="{{personToShow.image}}" class="avatar" alt="{{personToShow.name}}" />
                <h1 class="ps-4">{{personToShow.name}}</h1>
            </div>
        </section>
        <section id="education">
            <div class="mt-2 mb-4 px-4">
                <h2 class="section-header"><fa-icon [icon]="faGraduationCap"></fa-icon> Education</h2>
                <figure>
                    <div class="my-4" *ngFor="let education of personToShow.education; let i = index;">
                        <figcaption>{{personToShow.education[i].institution}}</figcaption>

                        <ul>
                            <li>Degree: {{personToShow.education[i].degree}}</li>
                            <li>Start year: {{personToShow.education[i].startYear}}</li>
                            <li>End year: {{personToShow.education[i].endYear}}</li>
                        </ul>
                    </div>
                </figure>
            </div>
        </section>
        <section id="experience">
            <div class="my-2 px-4">
                <h2 class="section-header"><fa-icon [icon]="faBriefcase"></fa-icon> Experience</h2>
                <figure>
                    <div class="my-4" *ngFor="let job of personToShow.workExperience; let i = index;">
                        <figcaption>{{personToShow.workExperience[i].institution}}</figcaption>
                        <ul>
                            <li>Start year: {{personToShow.workExperience[i].startYear}}</li>
                            <li>Title: {{personToShow.workExperience[i].title}}</li>
                        </ul>
                    </div>
                </figure>
            </div>
        </section>
    </div>
</div>